.navbar-nav li {
    display: inline-block;
    /* width: 33.3%; */
    text-align: center;
    color: white;
    margin: auto;
    font-size: 20px;
}

.navbar {
    background-color: #366873;
    width: 100%;
    display: inline-flex;
}
